<div class="wrapper" *ngFor="let users of currentUsers; index as i">
  <div [class.color2]="i%2===0" [class.color1]="i%2===1">
    <!--Current Users-->
    <div class="user-icon" [ngSwitch]="users.iconName">
      <img src="../../assets/avatars/avatar-1.png" *ngSwitchCase="'m1'">
      <img src="../../assets/avatars/avatar-2.png" *ngSwitchCase="'m2'">
      <img src="../../assets/avatars/avatar-3.png" *ngSwitchCase="'m3'">
      <img src="../../assets/avatars/avatar-12.png" *ngSwitchCase="'m4'">
      <img src="../../assets/avatars/avatar-13.png" *ngSwitchCase="'f1'">
      <img src="../../assets/avatars/avatar-20.png" *ngSwitchCase="'f2'">
      <img src="../../assets/avatars/avatar-26.png" *ngSwitchCase="'f3'">
      <img src="../../assets/avatars/avatar-41.png" *ngSwitchCase="'f4'">
    </div>
    <div class="user-nickname">
        <label>{{users.nickname}}</label>
    </div>
  </div>
</div>
