<div class="container">
    <div *ngIf="!success">
        <h2> Create A Room </h2>
        <form (ngSubmit)="onSubmit(createRoomForm)" [formGroup]="createRoomForm">

            <!--<input type="hidden" formControlName="id">
            <input type="hidden" formControlName="playlistId">
            <input type="hidden" formControlName="userId">-->



            <!--Room Name-->
            <label>Room Name </label><br>
            <input type="text" placeholder="Room Name" formControlName="roomName">

                <small *ngIf="roomName.touched && roomNameErrors!=null" >
                    {{roomNameErrors.message}}
                </small>

                <small *ngIf="!roomName">{{roomNameErrors.message}}</small>

            <br>
            <!--Password-->
            <label>Password </label><br>
            <input type="password" placeholder="Password" formControlName="password">
            <br>

            <label>Confirm Password </label><br>
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"><br>

            <!--Max Capacity-->
            <label>Max Capacity</label>
            <select id="maxUsers">
              <option *ngFor = "let number of numberOfUsers" [value]="number">{{number}}</option>
            </select><br>

            <!--Invitation Code-->
            <label>Invitation Key </label><br>
            <input type="text" placeholder="Room Name" [value]="invitationCode"  readonly="readonly"/><br>

            <button (click)="goBack()" type="button">Back</button>
            <button [disabled]="createRoomForm.invalid" type="submit">Submit </button>

        </form>
    </div>

    <div *ngIf="success">
        <h2>Successfully Created Room</h2>
        <app-room></app-room>
    </div>

    <div *ngIf="error">
        Error creating room. Please try again
    </div>

</div>
