<div class="message-container">

  <!--Displays List of Messages-->
  <div class="messages" *ngFor="let m of messages; index as i">
    <div [class.message-item2]="i%2===0" [class.message-item1]="i%2===1">
      <!--IMAGE ICON GETS DISPLAYED-->
      <div class="message-box" [ngSwitch]="m.user.iconName">
        <img src="../../assets/avatars/avatar-1.png" *ngSwitchCase="'m1'">
        <img src="../../assets/avatars/avatar-2.png" *ngSwitchCase="'m2'">
        <img src="../../assets/avatars/avatar-3.png" *ngSwitchCase="'m3'">
        <img src="../../assets/avatars/avatar-12.png" *ngSwitchCase="'m4'">
        <img src="../../assets/avatars/avatar-13.png" *ngSwitchCase="'f1'">
        <img src="../../assets/avatars/avatar-20.png" *ngSwitchCase="'f2'">
        <img src="../../assets/avatars/avatar-26.png" *ngSwitchCase="'f3'">
        <img src="../../assets/avatars/avatar-41.png" *ngSwitchCase="'f4'">
        <label>{{m.user.nickname}}: </label>
        <label>{{m.message}}</label>
      </div>
    </div>
  </div>
</div>
  <!--Send Message-->
  <div class="user-input">
    <button (click)="sendMsg()">Send Msg</button>
    <!-- <input id="user-message" (keyup.enter)="sendMessage($event)" type="text" placeholder="Enter a message"/> -->
  </div>

