<div class="container">
  <!--Header-->
  <div class="header">

  </div>
  <!--Body-->
  <div class="body">
    <div class="player">
      <!-- The Video Player -->
      <app-video></app-video>
    </div>
      <!-- Tab Section (Chat/Users/Queue)-->
      <div class="tab-section">
        <app-tab
          (searchResult)="getSearchResult($event)"
          [videosFound]="videosFound"
        ></app-tab>
      </div>
  </div>
  <!--Footer-->
  <div class="footer">
    <div class="invitation">
      <div class="inv-header">
          <h3>Invite your friends!</h3>
      </div>
      <div class="input-bar">
          <input type="text" placeholder="invitation code" readonly="readonly"/>
      </div>
    </div>
  </div>

</div>

