.slider{
  -webkit-appearance: none;
  width: 700px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #002266;
  cursor: pointer;
}
.video-controls{
  width:800px;
  height:40px;
}
.video-controls .video-buttons{
  color:white;
  background-color:#002266;
  height:40px;
  width:40px;
  background-repeat:no-repeat;
  transition:.3s;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  &:hover{
    color:#002266;
    background-color:white;
  }
}
.select-video {
  width:800px;
  height:600px;
  color:white;
  background-color:black;
  text-align: center;
  font-size: 15pt;
}
.select-video .prompt{
  width:400px;
  height:200px;
  position:relative;
  top:40%;
  left:23%;
}

.video-header {
  width:800px;
  height:40px;
  background-color:#002266;
  z-index: 15;
  color:white;
}

.video-footer{
  background-color:#002266;
}


.loading-prompt{
  width:800px;
  height:600px;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
