.container{
  background-color: white;
  width:400px;
  height:600px;
  overflow: auto;
}

.tab-buttons{
  width:400;
  height:200;
}

.button-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-item button{
  float:right;
  height:50px;
  width:80px;
  margin-left:2px;
}




/* Video Status */

.video-status {
  position: absolute;
  top: 30px;
  animation: Slide_In .7s ease; 

}


@keyframes Slide_In{
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translate(0px);
  }
}
