<div class="container">


  <div
  [ngClass]="(videoAdded)? 'video-status' : 'fade-down video-status'"
  *ngIf="videoAdded">
    <span> Added to the queue </span>
  </div>

  <div
  class="video-status"
  *ngIf="videoRemoved">
    <span> Removed from the queue </span>
  </div>

  <!--Tab Buttons-->
  <div class="tab-buttons">

      <!--List Of Buttons-->
      <ul class="button-list">
        <li class="list-item">
          <button (click)="changeContent('chat')">Chat</button>
        </li>
        <li class="list-item">
          <button (click)="changeContent('queue')">Video Queue</button>
        </li>
        <li class="list-item">
          <button (click)="changeContent('users')">Users</button>
        </li>
        <li class="list-item">
          <button (click)="changeContent('search')">Search</button>
        </li>
      </ul>
    </div>

    <!--Tab Content-->
    <div class="tab-content">

      <!--- Search Component -->
      <div id="search-wrapper" *ngIf="currentContent == 'search'">
        <app-search
        [videosFound]="videosFound"
        [videosForQueue]="videosForQueue"
        (removeVideoInQueue)="removeVideoInQueue($event)"
        (addVideoToQueue)="videoToQueue($event)"
        (searchHandler)="sendResultToRoom($event)"
        > </app-search>
      </div>

      <!--Current Users Content-->
      <div id="current-users" *ngIf="currentContent == 'users'">
        <app-current-users></app-current-users>
      </div>

      <!--Video Queue Content-->
      <div id="video-queue" *ngIf="currentContent == 'queue'">
        <app-video-queue></app-video-queue>
      </div>

      <!--Chat Content-->
      <div id="chat" *ngIf="currentContent == 'chat'">
        <app-chat></app-chat>
      </div>

    </div>
</div>
