.container{
  background-color: white;
  width:400px;
  height:600px;
}

.tab-buttons{
  width:400;
  height:200;
}

.button-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-item button{
  float:right;
  height:50px;
  width:80px;
  margin-left:2px;
}
