<div class="container">
  <div class="header">
    <label id="title">Credits</label><br>
    <label></label>
  </div>
  <div class="body">
    <div class="item">
      <h3>Icons:</h3>
      Icons made by
      <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"  title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>
  <div class="buttons">
    <button id="home" (click)="backToHome()">Back</button>
  </div>
</div>
