#header{
margin-left:10px;
}

#body{
  position:absolute;
  width:300px;
  height:100px;
  top:55%;
  left:56.8%;
  transform: translate(-50%,-50%);
}

#body input{
  text-align: center;
  width:225px;
  font-size: 13pt;
  padding:5px;
}

#body button{
  background-color: red;
  width:100px;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-top:10px;
  margin-right:37px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
#body button:hover{
  background-color: rgb(180, 179, 179);
  cursor: pointer;
}
