<div class="container">
  <div class="header">
    <label id="title">Contact</label><br>
    <label>Got a question or concern? Feel free to drop a message !</label>
  </div>
  <div class="body">
    <div class="name">
      <input type="text" placeholder="Name">
    </div>
    <div class="email">
      <input type="text" placeholder="Email">
    </div>
    <div class="message">
      <textarea id="message" placeholder="Message"></textarea>
    </div>
    <div class="buttons">
      <button id="home" (click)="backToHome()">Back</button>
      <button>Send Message</button>
    </div>
  </div>
</div>
