<!--Container for the landing-page-->
<div id="container"  *ngIf="!this.loadingService.isLoading">

  <!--Logo-->
  <div id="banner">
    <img id="logo" src="../../assets/logo_2.png"/>
  </div>

  <!--Home Page-->
  <div id="home" *ngIf="componentState=='home'">

    <!--Avatar-->
    <div class="avatar">
      <a (click)="previousColor()" href="javascript:void(0)" class="previous">&#8249;</a>
      <i [ngStyle]="styles" class="fa fa-user fa-5x" id="icon" aria-hidden="true"></i>
      <a (click)="nextColor()" href="javascript:void(0)" class="next">&#8250;</a>
    </div>

    <div id="prompt" *ngIf="!isValid">
      Nickname is required!
    </div>

    <!--Enter A Nickname and Options-->
    <div id="nickname">
      <input [(ngModel)]="nickname" required type="text" placeholder="Nickname"/><br>
      <button class="home-button" (click)="changeState('createroom')">Create A Room</button>
      <button class="home-button" (click)="changeState('joinroom')">Join A Room</button>
    </div>

  </div>

  <!-- Join A Room Page-->
  <div id="joinroom" *ngIf="componentState=='joinroom'">
    <app-join-room (currentState)="changeState($event)"></app-join-room>
  </div>

  <!-- Create A Room Page-->
  <div id="createroom" *ngIf="componentState=='createroom'">
    <app-create-room (currentState)="changeState($event)"></app-create-room>
  </div>

</div>
<div id="resources" *ngIf="componentState=='home'">
  <div class="links">
    <ul id="horizontal-list">
      <li class="list-item">
        <a routerLink="/help">Help</a>
      </li>
      <li class="list-item">
        <a routerLink="/contact">Contact</a>
      </li>
      <li class="list-item">
        <a routerLink="/terms&services">Terms and Services</a>
      </li>
      <li class="list-item">
        <a routerLink="/credits">Credits</a>
      </li>
    </ul>
  </div>
</div>
<app-loading></app-loading>
