.page{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}
#container{
  /*
  OLD CSS
  width: 500px;
  height:400px;
  box-shadow: 0px 2px 3px 3px #888888;
  position: fixed;
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: white;*/
  width: 750px;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all .3s;
}
#resources{
  width:500px;
  margin:auto;
}
#home{
  position:absolute;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  width:400px;
  height:200px;
}

#logo{
  display:block;
  margin-top: 40px;
  margin-left:auto;
  margin-right:auto;
  width:320px;
  height: 70px;
}
#nickname{
  position: absolute;
  margin-left:60px;
  margin-top:15px;
}
#nickname button{
  margin:10px;
}
/*#nickname{
  position: absolute;
  margin-left:70px;
  margin-top:10px;
}
#nickname button, input{
  margin:5px;
}

#nickname button{
  margin-right:25px;
}
#nickname input{
  text-align: center;
  width:225px;
  font-size: 13pt;
  padding:10px;
}*/

#prompt{
  color:red;
  font-weight: bold;
  text-align: center;
}

.avatar, #createroom, #joinroom{
  display:flex;
  align-items: center;
  justify-content: center;
}

/*.avatar a, i{
  padding:7px;
}


.avatar a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50%;
}

.avatar a:hover {
  background-color: #ddd;
  color: black;
}

.avatar .previous {
  background-color: red;
  color: white;
}

.avatar .next {
  background-color: red;
  color: white;
}*/


.home-button, .avatar a{
 /*background-color: red;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-right:20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none*/
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding: .8em 1.4em;
	border: none;
	color: white;
  transition: .2s;
  background: #FE5F55;
  background-image: linear-gradient(147deg, #fd976e 0%, #fd3838 74%);
	&:hover, a:hover {
    background: darken(#FE5F55, 10%);
    cursor: pointer;
	}
	/*&:active,
	&:focus, &a:active, &a:focus {
		background: darken(#FE5F55, 50%);
	}*/
	&:hover:after, &a:hover:after {
		-webkit-animation: bounceright .3s alternate ease infinite;
		animation: bounceright .3s alternate ease infinite;
	}

}
.avatar a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50%;
}
.nickname-field{
    text-align: center;
    width:255px;
    font-size: 13pt;
    padding:12px 10px;
		background: #fff;
		color: black;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 1px solid rgba(255, 171, 171, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
		outline: 0;
}
#horizontal-list {
  list-style: none;
}
.list-item {
  display: inline;
  margin:10px;
}
.list-item a{
  color:red;
  font-weight:bold;
  text-decoration: none;
}
.list-item a:hover{
  color:black;
}
