.card{
  opacity: 1;
  width: 600px;
  height: 500px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 9px 20px rgba(34, 35, 58, 0.2);
  padding: 25px;
}

#home{
  width:100%;
  height:200px;
}
/*
-----------------------------
Title for container
-----------------------------
*/
#logo{
  font-weight:normal;
  text-align: center;
  font-size:30pt;
  color:#003459;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    width:265px;
    border-right: .15em solid #002266; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation:
      typing 1s steps(20, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 265px; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #002266; }
}
/**
----------------------------------
Input field and button positioning
----------------------------------
**/
#nickname{
  margin-top:15px;
}
#nickname button{
  margin-top:15px;
}
/*
-------------------------------------------
Message when user does not enter a nickname
-------------------------------------------
*/
#prompt{
  color:#003d69;
  font-weight: bold;
  text-align: center;
}
/*
--------------------
Buttons
---------------------
*/
.avatar, #createroom, #joinroom{
  margin-top:20px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.home-button, .avatar a{
  border: 2px solid #003d69;
  background-color: white;
  color: #003d69;
  transition: .3s;
  padding: 9px 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    background:#003d69;
    color:white;
  }
}
.avatar a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50%;
}

/*
------------------
Icon Styles
------------------
*/
.avatar img{
  width:100px;
  height:100px;
}
/*
-------------------
Nickname Input Field
-------------------
*/
.nickname-field{
    text-align: center;
    width:255px;
    height:40px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    outline:none;
    padding: 6px;
		color: black;
    font: inherit;
    transition: .3s;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    outline: 0;
    &:focus{
      border:1px solid #437C90;
      box-shadow: 0px 0px 3px 1px #c8def0;
    }
}

/*
-------------------
Resources List
-------------------
*/
#horizontal-list {
  list-style: none;
}
#resources{
  top:45%;
  left:3%;
  position: relative;
  width:500px;
  margin:auto;
}

.list-item {
  display: inline;
  margin:10px;
}
.list-item a{
  color:#003459;
  transition:.3s;
  font-weight:bold;
  text-decoration: none;
}
.list-item a:hover{
  color:#437C90;
}
