<div class="container">
  <!--Container for the landing-page-->
  <div class="card"  *ngIf="!this.loadingService.isLoading">
    <div class="row">
      <div class="col">
        <!--Logo-->
        <div id="banner">
          <h1 id="logo">letswatch.io</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!--Home Page-->
        <div id="home" *ngIf="componentState=='home'">
            <div class="row">
              <div class="col">
                <!--Avatar-->
                <div class="avatar">
                    <a  (click)="previousIcon()" href="javascript:void(0)" class="previous">&#8249;</a>
                    <div class="iconList" [ngSwitch]="currentIcon">
                      <img src="../../assets/avatars/avatar-1.png" *ngSwitchCase="'m1'">
                      <img src="../../assets/avatars/avatar-2.png" *ngSwitchCase="'m2'">
                      <img src="../../assets/avatars/avatar-3.png" *ngSwitchCase="'m3'">
                      <img src="../../assets/avatars/avatar-12.png" *ngSwitchCase="'m4'">
                      <img src="../../assets/avatars/avatar-13.png" *ngSwitchCase="'f1'">
                      <img src="../../assets/avatars/avatar-20.png" *ngSwitchCase="'f2'">
                      <img src="../../assets/avatars/avatar-26.png" *ngSwitchCase="'f3'">
                      <img src="../../assets/avatars/avatar-41.png" *ngSwitchCase="'f4'">
                    </div>
                    <a (click)="nextIcon()" href="javascript:void(0)" class="next">&#8250;</a>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div id="prompt" *ngIf="!isValid">
                    Nickname is required!
                  </div>
              </div>
            </div>


            <div class="row">
              <div class="col text-center">
                <!--Enter A Nickname and Options-->
                <div id="nickname">
                  <input [(ngModel)]="nickname" class="nickname-field" required type="text" placeholder="Nickname"/><br>
                  <button class="home-button" (click)="changeState('createroom')">Create a Room</button>
                  <button class="home-button" (click)="changeState('joinroom')">Join a Room</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Join A Room Page-->
          <div id="joinroom" *ngIf="componentState=='joinroom'">
            <app-join-room (currentState)="changeState($event)"></app-join-room>
          </div>

          <!-- Create A Room Page-->
          <div id="createroom" *ngIf="componentState=='createroom'">
            <app-create-room (currentState)="changeState($event)"></app-create-room>
          </div>

          <div id="resources" *ngIf="componentState=='home'">
            <div class="links">
              <ul id="horizontal-list">
                <li class="list-item">
                  <a routerLink="/help">Help</a>
                </li>
                <li class="list-item">
                  <a routerLink="/contact">Contact</a>
                </li>
                <li class="list-item">
                  <a routerLink="/terms&services">Terms and Services</a>
                </li>
                <li class="list-item">
                  <a routerLink="/credits">Credits</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
<app-loading *ngIf="this.loadingService.isLoading"></app-loading>
