<div class="container-fluid h-100">
  <div class="home">
      <div class="row h-100 bg-image" style="background-image: url(../../../../assets/bg.jpeg)">
        <div class="overlay-itro"></div>
        <div class="col-md-6  d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="home-content">
                    <h1>letswatch.io</h1>
                  </div>
                <div class="buttons d-flex justify-content-center">
                  <button (click)="changeState('createroom')" type="button" class="btn btn-primary">Create A Room</button>
                  <button (click)="changeState('joinroom')" type="button" class="btn btn-primary">Join A Room</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="card"  *ngIf="!this.loadingService.isLoading">
            <div class="row h-100">
              <div class="col-md-12 h-100">
                  <div id="joinroom" *ngIf="componentState=='joinroom'">
                    <app-join-room (currentState)="changeState($event)"></app-join-room>
                  </div>
                  <div id="createroom" *ngIf="componentState=='createroom'">
                    <app-create-room (currentState)="changeState($event)"></app-create-room>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="row d-flex align-items-center">
      <div class="col-md-12">
        <div class="header">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>
</div>
