<div>
  <div [className]="search-form-wrapper">
      <input type="text" #searchTag>
      <button (click)="searchHandler.emit({search:searchTag.value})" type="submit">Search</button>
  </div>


  <!--- Videos found after searching -->

  <ul>
    <li *ngFor="let video of videosFound">
    <input type="hidden"ng- value="{{video.id.videoId}}'">
    <img [attr.src]="video.snippet.thumbnails.default.url" />
    <h4>{{video.snippet.title}}</h4>
    <p>{{video.snippet.description}}</p>
    <button 
    (click)="addVideoToQueue.emit({video: video})"> 
    Add</button>
    </li>
  </ul>

</div>
